/*
@m-res: ~"(max-width: "(@large-resolution - 1)~") and (min-width: @{middle-resolution})";
@mm-res: ~"(max-width: "(@middle-resolution - 1)~") and (min-width: @{small-resolution})";
@s-res: ~"(max-width: "(@small-resolution - 1)~")";
*/
.elf-galery-container {
  position: relative;
  width: 400px;
  height: 280px;
}
@media (max-width: 500px) {
	.elf-galery-container {
	  width: 96%;
	  height: 280px;
	  margin: 0 auto 2em;
	}
}
.elf-galery-container-imgs {
  position: relative;
  width: inherit;
  height: inherit; 	
  overflow: hidden;
}
.elf-galery-item {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center
  align-items: center;
}
.elf-galery-item img {
  position: relative;
  border: 3px solid #fff40d;
  width: 70%;
  max-height: inherit;
}
.elf-galery-fullscreen {
  width: 100%;
  height: 1100px;
  margin: 0;
}
.elf-galery-navigate {
  position: absolute;
  color: #fff;
  background-color: #000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  top: calc(50% - 40px);
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.3s;
}
.elf-galery-navigate:hover {
  opacity: 0.7;
}
.elf-galery-navigate-next {
  right: 10px;
}
.elf-galery-navigate-prev {
  left: 10px;
}
.elf-galery-fullscreen img {
  border: none;
}
.elf-galery-big-img {
	position: fixed;
	left: 1%;
	top: 1%;
	width: 98%;
	height: 98%;
	border-radius: 10px;
	background-color: #fff;
	display: none;
	z-index: 1000;
	justify-content: center;
	align-items: center;
}
.elf-galery-big-img i.close-bigimg {
	position: absolute;
	top: 10px;
	right: 17px;
	font-size: 2em;
	color: #000;
	cursor: pointer;
}
/*.elf-galery-big-img img {
	width: auto;
	height: auto;
	align-items: center;
	position: absolute;
}*/
#big-pics-cont .elf-galery-container {
	width: 80%;
	height: 75%;
}
#big-pics-cont .elf-galery-container .elf-galery-container-imgs {
	height: 100%;
}
#big-pics-cont .elf-galery-item img {
	width: 70%;
	max-height: none;
}
@media (max-width: 500px) {
	#big-pics-cont {
		height: 90%;
		top: 5%;
	}
	#big-pics-cont .elf-galery-container {
		width: 100%;
		height: 80%;
	}
	#big-pics-cont .elf-galery-item img {
		width: 95%;
	}
}
