_install/
install/*
!install/.gitsource
modules/*
!modules/.gitsource
8921fbe5c05fc58991abc3218d1d44c1/*
img/*
!img/design/
!img/elf_uploader/
js/ckeditor.min/
/robots.txt
/rss.xml
/_ini.php
crontab/*
fonts/*
!crontab/preprocessors.php
favicon.png
favicon.ico
sync_server.php
.preprocessors/.less.log
sync_server_new.php
/yandex_*.html
/google*.html
/sitemap*
/yml.xml
/new_yml.xml
/icml.xml
