/*
@m-res: ~"(max-width: "(@large-resolution - 1)~") and (min-width: @{middle-resolution})";
@mm-res: ~"(max-width: "(@middle-resolution - 1)~") and (min-width: @{small-resolution})";
@s-res: ~"(max-width: "(@small-resolution - 1)~")";
*/
